
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1.5% 0% 1.5%;
    width: 100%;
    height: 10vh;
    font-family: Lexend, sans-serif;
    line-height: 1.6;
    background-color: #1d1d1d;
    color: #fff;
    position: sticky;
}

header a {
    display: flex;
    align-items: center;
}

/* These look redundant, but i havent found a way to condense them without breaking something. */

nav {
    margin-left: auto;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    font-size: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}